.page-wrapper {
  padding-top: 130px; // Fixed header offset
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content-wrapper {
  flex: 1;
}

.widget {
  ul {
    margin-left: 2rem;
  }
}
