@import url('//fonts.googleapis.com/css?family=Montserrat|Raleway');

h1 {
  font-size: 1.5rem;

  @include media-breakpoint-up(md) {
    font-size: $h1-font-size;
  }
}

h2 {
  font-size: 1.2rem;

  @include media-breakpoint-up(md) {
    font-size: $h2-font-size;
  }
}

h3 {
  font-size: 1rem;

  @include media-breakpoint-up(md) {
    font-size: $h3-font-size;
  }
}

h4 {
  font-size: .5rem;

  @include media-breakpoint-up(md) {
    font-size: $h4-font-size;
  }
}

p {
  line-height: 2;
  letter-spacing: .03em;
}

a {
  font-weight: 600;
  text-decoration: underline;
  transition: all ease .5s;
  letter-spacing: .03em;

  &:hover,
  &:focus {
    color: #fff;
  }
}
