// Header styles

.page-header {
  padding: 15px;
  background-color: #fff;
  box-shadow: 1px 1px 3px $gray-900;

  @include media-breakpoint-up(md) {
    padding: 30px 15px 15px;
  }

  .navbar-brand {
    max-width: 100px;

    img {
      width: 100%;
    }
  }

  .navbar-nav {
    .nav-link {
      padding: .5rem 1rem;
      font-size: 1.3rem;
      text-transform: uppercase;
      color: $gray-900;
    }
  }
}
